*{
    margin: 0;
    padding: 0;
}

div{
    width: 40%;
    background-color: silver;
    margin-top: 1px;
    display: inline-block;
}

/*  خصائص عندما اتصفح من الهاتف من 0 الى 600*/
@media screen and (max-width:600px){
    #d1{
        background-color: tomato;
        display: block;
        width: 100%;
    }
    body{
        background-color: black;
    }
}

/* تجاوب من تابلت شاشة 601 الى 800 بكسل */
/* اذا كان اكبر من 800 بستخدم الحاسوب اللي فوق اول اشي */
@media screen and (min-width:601px) and (max-width:800px) {
    body{
        background-color: blue;
    }
}

/* شاشة من 801 الى 1100 */
@media screen and (min-width:801px) and (max-width:1100px) {
    body{
        background-color: darkcyan;
    }
}